In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("South_German_Credit_formatted.csv")
df.head()

,status,duration,credit_history,purpose,amount,savings,employment_duration,installment_rate,personal_status_sex,other_debtors,...,property,age,other_installment_plans,housing,number_credits,job,people_liable,telephone,foreign_worker,credit_risk
0,1,18,4,2,1049,1,2,4,2,1,...,2,21,3,1,1,3,2,1,2,1
1,1,9,4,0,2799,1,3,2,3,1,...,1,36,3,1,2,3,1,1,2,1
2,2,12,2,9,841,2,4,2,2,1,...,1,23,3,1,1,2,2,1,2,1
3,1,12,4,0,2122,1,3,3,3,1,...,1,39,3,1,2,2,1,1,1,1
4,1,12,4,0,2171,1,3,4,3,1,...,2,38,1,2,2,2,2,1,1,1

__Definition__ : Credit risk is the possibility of a loss resulting from a borrower's failure to repay a loan or meet contractual obligations. Traditionally, it refers to the risk that a lender may not receive the owed principal and interest

__Possible major factors__:

        1. Amount of loan
        2. Credit history
        3. purpose
        4. Amount in savings account
        5. Property
        6. No. of creditors
        7. job
        8. Age
        
__Possible Audience__:

        1. Banks
        2. Money lenders

__Possible Customers__:

        1. College freshers, for student loan
        2. Business man or entrepreneur
        3. Job worker, purpose could be car or housing
        4. medical loans
        5. Retirement loan for old people probably

__Hypothesis 1__: If Amount of loan is large, credit history is poor, no or small property which doesn't have enough value, age is very small or very high, number of creditors is high then probability of credit risk is very high.